/* FEATURES */

ul{
    list-style-type: none;
    background-color:black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    float: left;
    background-color:black;
    text-transform: capitalize;
}
.div1{
    box-sizing: border-box;
    border: 1px solid black;
    padding:15px;
    width: 500px;
    margin:auto;
    background-color: #bbb;
}
h2{
    text-align: center;
}
.div2{
    box-sizing: border-box;
    border: 1px solid black;
    padding:15px;
    width: 500px;
    margin:auto;
    background-color:lightgray;
}
head{
    background-image:lightblue;
}
.new ul{
    list-style-type: none;
    background-color:bisque;
    margin:0px;
    overflow: hidden;
    padding:5px;
}
.new li a{
    color: black;
    text-decoration: none;
    padding:20px;
    background-color:bisque;
    border:none ; 
    margin:-5px;
    text-transform:uppercase;
}
.new li a:hover{
    background-color:white;
}
.AA img{
    margin-right:10px;
    margin-top: 10px;
}
.AA img:hover{
    transform: scale(0.9);
}
h1{
    margin-top: 70px;
    margin-left: 70px;
}
h3{
    margin-left: 70px;
    font-family:sans-serif;
    font-weight: lighter;
}
.container{
    width: 300px; 
    height:100px; 
    border:none;
    margin-left: 70px; 
  }
  .container img {
    width: 100%; 
    height: auto;
  }
  .container p{
    margin-top: -10px;
  }
.container1{
    width: 300px; 
    height:100px; 
    border:none;
    margin-left:400px;
    margin-top:-85px; 
  }
  .container1 img {
    width: 100%; 
    height: auto;
  }
  .container1 p{
    margin-top: -10px;
  }
.container2{
    width: 300px; 
    height:100px; 
    border:none;
    margin-left:800px;
    margin-top:-85px; 
  }
  .container2 img {
    width: 100%; 
    height: auto;
  }
  .container2 p{
    margin-top: -10px;
  }
.container3{
    width: 300px; 
    height:100px; 
    border:none;
    margin-left:1200px;
    margin-top:-140px; 
  }
  .container3 img {
    width: 100%; 
    height: auto;
  }
  .container3 p{
    margin-top: -10px;
  }
.box{
    width: 300px;
    height: 150px;
    border: 1px solid white;
    box-sizing: border-box;
    padding:20px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    margin-left:300px;
    margin-top:20px;
    margin-bottom: 20px;
  }
  pre{
    font-family: sans-serif;
    font-weight: 10px;
  }
.Box{
    width: 300px;
    height: 150px;
    border: 1px solid white;
    box-sizing: border-box;
    padding:20px;
    box-shadow: 5px 5px 20px 20px whitesmoke;
    margin-left:900px;
    margin-top: -170px;
    margin-bottom: 20px;
  }
  pre{
    font-family: sans-serif;
    font-weight: 10px;
  }
.one{
  margin-top:270px;
 }
 .one img{
  width: 250px;
  margin-left: 800px;
  margin-top: -150px;
 }
 .one pre {
  margin-left:80px;
 }
 .one button{
  margin-left: 80px;
  background-color: black;
  color: white;
  height:40px;
  width: 80px;
 }
 #o{
  font-size: 30px;
  font-weight: bold;
 }
 #q{
  font-size: 20px;
  font-family: sans-serif;
 }
 



.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .featureIcon {
    width: 50px;
    height: 50px;
  }
  .featureTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 20px;
  }
  .featureDescription {
    color: gray;
    width: 50%;
    height: 100px;
  }
  
  /*  PRODUCTS */
  
  .product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  
  .payment {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    /*  How to position an absolute item to center? Look below */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  label {
    font-size: 0.875rem;
    font-weight: 300;
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  }
  
  .payInput::placeholder {
    color: lightgray;
  }
  
  .cardIcons {
    display: flex;
  }
  .cardIcon {
    margin-right: 10px;
  }
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .small {
    width: 25%;
  }
  
  .payButton {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 205, 0, 0.95);
    color: white;
    cursor: pointer;
  }
  
  .payTitle {
    font-size: 1.25rem;
    color: rgb(122, 122, 122);
  }
  
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
  
  .productImage {
    width: 50%;
  }
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  .productTitle {
    font-size: 4.688rem;
    font-weight: 900;
  }
  
  .productDescription {
    font-style: 24px;
    color: gray;
  }
  
  .colors,
  .sizes {
    display: flex;
    margin-bottom: 20px;
  }
  
  .color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .color:last-child {
    background-color: darkblue;
  }
  
  .size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  .productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .productButton:hover {
    background-color: white;
    color: black;
  }
  
  /* GALLERY */
  
  .gallery {
    padding: 50px;
    display: flex;
  }
  
  .galleryItem {
    flex: 1; /* width: 33.33% */
    padding: 15px;
  }
  
  .galleryImage {
    width: 100%;
  }
  
  /* NEW SEASON */
  
  .newSeason {
    display: flex;
  }
  
  .nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .nsImage {
    width: 100%;
    height: 500px;
  }
  
  .nsTitle {
    font-size: 2.5rem;
  }
  
  .nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  /* FOOTER */
  
  footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .footerMenuTitle {
    font-size: 1rem;
  }
  
  .footerMenuList {
    padding: 0;
    list-style: none;
  }
  
  .footerListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footerInput {
    padding: 5px;
  }
  
  .footerButton {
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .footerIcons {
    display: flex;
  }
  
  .footerIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .copyright {
    font-weight: 300;
    font-size: 0.875rem;
  }
 
 /*  PRODUCTS */

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  /*  How to position an absolute item to center? Look below */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

label {
  font-size: 0.875rem;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payInput::placeholder {
  color: lightgray;
}

.cardIcons {
  display: flex;
}
.cardIcon {
  margin-right: 10px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}

.small {
  width: 25%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 205, 0, 0.95);
  color: white;
  cursor: pointer;
}

.payTitle {
  font-size: 1.25rem;
  color: rgb(122, 122, 122);
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImage {
  width: 50%;
}
.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}
.productTitle {
  font-size: 4.688rem;
  font-weight: 900;
}

.productDescription {
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.25rem;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

/* GALLERY */

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1; /* width: 33.33% */
  padding: 15px;
}

.galleryImage {
  width: 100%;
}

/* NEW SEASON */

.newSeason {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nsImage {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 2.5rem;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* FOOTER */

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footerMenuTitle {
  font-size: 1rem;
}

.footerMenuList {
  padding: 0;
  list-style: none;
}

.footerListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerInput {
  padding: 5px;
}

.footerButton {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerIcons {
  display: flex;
}

.footerIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.copyright {
  font-weight: 300;
  font-size: 0.875rem;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 1.25rem;
  }

  .slider {
    clip-path: none;
  }

  .sliderImage {
    width: 90%;
  }

  .sliderBgCircle {
    width: 100%;
    height: 100%;
  }

  .sliderTitle {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
    font-size: 2.25rem;
  }

  .buyButton {
    right: 0;
    top: 0;
  }

  .features {
    flex-direction: column;
  }

  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImage {
    width: 80%;
  }

  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle {
    font-size: 3.125rem;
    margin: 0;
  }

  .gallery {
    display: none;
  }

  .newSeason {
    flex-direction: column;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footerLeft {
    padding: 20px;
    width: 90%;
  }

  .footerRight {
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment {
    width: 90%;
    padding: 20px;
  }
}
